*{
    margin: 0%;
    padding: 0%;
}

#boxone{
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: rgb(214, 196, 172);
    margin: 30%;
    margin-top: 20px; 
    padding-top: 30px;
    padding-bottom: 30px;

}



.img{
    border: 10px solid blue;
    margin-top: 40px;
    margin-bottom: 40px;

}

.boxtwo{

    text-align: center;
    border: 5px solid blue;
    margin-left:30%;
    height: 400px;
    width: 320px;
    background-color: rgb(246, 231, 231);
}

#images{
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow:  0 0 2px 2px rgb(140, 135, 135);
}

.meet{
    margin-bottom: 30px;
    font-size: 40px;
    margin-top: 50px;
}

#img2{
    border-radius: 50%;
    border: 2px solid blue;
    margin-top: 10px;
}


/* last */

.boxthree{
    height: 400px;
    width: 350px;
    background-color: bisque;
    padding: 10px 10px;

}

.btn{
   color: blue;
}

.one{
    background-color: aliceblue;
    height:220px;
    margin-top: 100px;
    margin-left: 50px;
    width: 220px;
}

.img3{
    margin-left: 50%;
}

.neet{
    text-align: center;
    background-color: rgb(4, 116, 214);
}